* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar .imgLogo {
  width: 149px;
  display: flex;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

footer {
  text-align: center;
  padding: 48px 0;
  background-color: #697077;
}
footer .footer-sections a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #ffffff;
}
footer .footer-social i {
  margin: 0 0.5rem;
  padding-top: 2rem;
}
footer .footer-copyright {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  color: #ffffff;
}
@media (max-width: 768px) {
  footer .footer-sections a,
  footer .footer-social i {
    margin: 0.5rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.bg-light {
  background-color: #ffffff !important;
}

.bg-gray {
  background-color: rgb(242, 244, 248);
  height: 975px;
}

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.galeriaInicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.img-galeria {
  width: 308px;
  max-width: 308px;
  height: 308px;
  object-fit: cover;
}

.col-md-4 {
  margin-bottom: 16px;
}

.integrantes {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  gap: 2rem;
  flex: 1 0 0;
}

.cardIntegrantes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  flex: 1 0 0;
  border: none;
}

.imagenIntegrantes {
  width: 308px;
  height: 303px;
  align-items: center;
  object-fit: cover;
}

.cardIntegrantes {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
}

.card-text:last-child {
  margin-bottom: 0;
  font-size: small;
  color: #697077;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem 0.5rem 0.5rem;
}

.card-img,
.card-img-top {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.responsive-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
}

.responsive-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  .heroInicio {
    flex-direction: column;
  }
  .heroInicio img {
    width: 100%;
    order: 2;
  }
  .heroInicio div {
    width: 100%;
    padding: 16px;
    text-align: center;
  }
  .integrantes .cardIntegrantes {
    width: 100%;
  }
  .videoNuevo iframe {
    width: 100%;
  }
  .galeriaInicio div {
    width: 100%;
  }
  .sectionTour {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer a {
    font-size: 14px;
  }
  .footer-sections, .footer-social, .footer-copyright {
    width: 100%;
  }
  .cardIntegrantes {
    flex: 0 0 100%;
  }
  .responsive-video iframe {
    margin: 0 auto;
    display: block;
  }
  .logrosNeckDeep {
    padding: 16px;
  }
  .cardIntegrantes {
    margin-bottom: 16px;
  }
}
.headContacto {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-image: url(../assets/img/Ben\ Barlow.jpeg);
  background-size: cover;
  color: #ffffff;
}

@media (max-width: 768px) {
  .headContacto .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .headContacto div {
    width: 100%;
  }
  .headContacto [class*=col-] {
    padding: 0;
  }
  .headContacto .btn {
    width: 100%;
  }
}
.heroGaleria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-image: url(../assets/img/headGaleria.jpg);
  background-size: cover;
  color: #ffffff;
}

.galeriaTour {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 64px;
  background-color: rgb(242, 244, 248);
}

.heroTour {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-image: url(../assets/img/headTour.jpg);
  background-size: cover;
  color: #ffffff;
}

.fechasTour {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px;
}

@media (min-width: 768px) {
  .fechasTour {
    text-align: left;
  }
  .fechasTour .row {
    justify-content: flex-start;
  }
  .fechasTour .card {
    width: 100%;
    max-width: 416px;
    height: 450px;
  }
}
.sectionTour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px;
  background-color: rgb(242, 244, 248);
}
.sectionTour .sectionTour-botones {
  display: flex;
  flex-direction: row;
}

.newsletterSuscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px;
  background-color: rgb(242, 244, 248);
}

@media (min-width: 768px) {
  .sectionTour {
    flex-direction: row;
  }
  .sectionTour-botones {
    margin-top: 1rem;
  }
  .newsletterSuscribe {
    flex-direction: row;
    text-align: left;
    justify-content: center;
  }
  .newsletterSuscribe div {
    max-width: 50%;
    text-align: left;
  }
}
@media (max-width: 575px) {
  .sectionTour {
    flex-direction: column;
    text-align: center;
  }
  .sectionTour-botones {
    margin-top: 1rem;
  }
}
.heroHistoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-image: url(../assets/img/headHistoria.jpg);
  background-size: cover;
  color: #ffffff;
}

.logrosNeckDeep {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 24px;
  align-items: center;
  gap: 2rem;
  flex-shrink: 0;
}

.videoHistoria {
  display: flex;
  flex-direction: column;
  padding: 80px;
  align-items: center;
  gap: 64px;
  flex-shrink: 0;
  background-color: rgb(242, 244, 248);
  text-align: center;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .videoHistoria {
    flex-direction: row;
    text-align: left;
  }
}
.heroSection {
  width: 100%;
  height: 814px;
  background-image: url(../assets/img/header_inicio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  text-align: start;
}

.heroInicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-image: url(../assets/img/heroInicio.jpg);
  background-size: cover;
  color: #ffffff;
}

.heroContent {
  padding: 80px;
  text-align: center;
}

.videoNuevo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: rgb(242, 244, 248);
}

.headError {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/img/headerror.png");
  background-size: cover;
  color: #ffffff;
}
.headError .content {
  text-align: center;
  padding: 80px;
}

/*# sourceMappingURL=estilos.css.map */
