.sectionTour{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: $padding-grande;
    background-color:  $background-color-general;
    .sectionTour-botones {
        display: flex;
        flex-direction: row;
    }
}
.newsletterSuscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $padding-grande;
    background-color: $background-color-general;
}
@media (min-width: 768px) {
    .sectionTour {
        flex-direction: row;
    }

    .sectionTour-botones {
        margin-top: 1rem;
    }
    .newsletterSuscribe {
        flex-direction: row;
        text-align: left;
        justify-content: center;
    }

    .newsletterSuscribe div {
        max-width: 50%;
        text-align: left;
    }
}
@media (max-width: 575px) {
    .sectionTour {
        flex-direction: column;
        text-align: center;
    }

    .sectionTour-botones {
        margin-top: 1rem;
    }
}