
.heroGaleria{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $gap-general;
    background-image: url(../assets/img/headGaleria.jpg);
    background-size: cover;
    color: $color-blanco;
}
.galeriaTour{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 64px;
    background-color: $background-color-general;
}