.headContacto{
    display: flex;
    flex-direction: column;
    padding: $padding-grande;
    background-image: url(../assets/img/Ben\ Barlow.jpeg);
    background-size: cover;
    color:$color-blanco;
}