.heroHistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $gap-general;
    background-image: url(../assets/img/headHistoria.jpg);
    background-size: cover;
    color: $color-blanco;
}
.logrosNeckDeep {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 24px;
    align-items: center;
    gap: $gap-general;
    flex-shrink: 0;
}
.videoHistoria {
    display: flex;
    flex-direction: column;
    padding: $padding-grande;
    align-items: center;
    gap: 64px;
    flex-shrink: 0;
    background-color: $background-color-general;
    text-align: center;
}

.videoContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .videoHistoria {
        flex-direction: row;
        text-align: left;
    }
}

