$color-blanco: #ffffff;
$background-color-general: rgb(242, 244, 248);

$gap-general: 2rem;
$padding-grande: 80px;
$padding-small: 1rem;
$espaciado-3: 3rem;

$font-family-general: 'Roboto', sans-serif; 

$direction: row;
$justification: center;

$fuentes: (
    thin: 100,
    light: 300,
    medium: 500,
    bold: 700,
);